// colors
$body-text: #000000;
$primary-color: #0077c0;
$secondary-color: #c7eeff;
$footer-bg-color: #1d242b;
$footer-color: #d9dbe1;

// typography
$font-family: 'Open Sans', sans-serif;
$font-size: 16px;
$line-height: 1.5;
